<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-bar-chart fa-fw"></i> Daily Dibs Chart
    <div class="col-md-6 panel-primary" class="bs-callout bs-callout-info" ng-if="showIf()" ng-init="toggleSideDashboardChart()" ui-view>
        <!--9 make it for now that each event saved is displayed to this view  -->
    </div>


      <div class="col-md-6 panel-primary" class="bs-callout bs-callout-warning" ng-if="hideIf()" ng-init="renderSideDashboard()" ui-view>
        <!--9 make it for now that each event saved is displayed to this view  -->

      </div>
    <button type="button" class="btn btn-danger" type="submit" ng-click="switchButton()">Switch View</button>
  </div>
  <div class="panel-body">
    <div ng-controller="eventsController" class="panel panel-default" id="events-sidebar">
      <script type="text/javascript" src="../brandonsChart/example.js">
      example()
      </script>
      <div id='brandonChart'></div>
    </div>
  </div>
</div>